@use "responsive";
@use "variables";

body {
  background-color: variables.$color-background;
  color: variables.$color-black;
  font-feature-settings: "palt";
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  -webkit-overflow-scrolling: touch;
}
