@use "responsive";
@use "variables";

.linkButton {
  color: variables.$color-white;
  font-weight: 700;
  background-color: variables.$color-orange500;
  border-radius: 999px;
  display: grid;
  place-items: center;
  width: 280px;
  height: 55px;
  margin-inline: auto;
  font-size: 16px;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}
